body {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Arial', sans-serif, Serif;
    background-color: #F8E7A8;
    margin: 0;
    padding: 0;
    height: 100vh;

}

h1, h2, h3 {
    color: #581845;
    margin: 15px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

p {
    margin: 15px;
}

footer {
    background-color: #581845;
    color: #FFC300;
}

header {
    justify-self: center;
}

.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 20vw;
}

.carousel-images-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
}


.carousel-arrow {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    font-size: 1rem;
    color: red;
    cursor: pointer;
}

.carousel-arrow.prev {
    left: 10px;
}

.carousel-arrow.next {
    right: 10px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background: #007bff;
}


.section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#firstSection,
#secondSection {
    padding: 5px 10px;
}

#firstSection {
    background-color: #FFF9D6;
    color: #581845;
}

#secondSection {
    background-color: #FFC300;
    color: #581845;
}

#contact-info {
    color: white;
    text-align: center;
}