body {
    font-family: 'Arial', sans-serif, Serif;
    background-color: #F8E7A8;
    margin: 0;
    padding: 0;

}

h1, h2, h3 {
    color: #581845;
    margin: 15px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

p {
    margin: 15px;
}

footer {
    background-color: #581845;
    color: #FFC300;
}

header {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}


.carousel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;


}

.carousel-images-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.carousel-item {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    object-fit: cover;
}


.carousel-arrow {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    font-size: 1rem;
    color: red;
    cursor: pointer;
}

.carousel-arrow.prev {
    left: 10px;
}

.carousel-arrow.next {
    right: 10px;
}

.section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#firstSection,
#secondSection {
    padding: 5px 10px;
}

#firstSection {
    background-color: #FFF9D6;
    color: #581845;
}

#secondSection {
    background-color: #FFC300;
    color: #581845;
}

#contact-info {
    padding: 5px;
    color: white;
    text-align: center;
}